<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">

<f:variable name="ll" value="LLL:EXT:ot_mailcatcher/Resources/Private/Language/locallang_mod.xlf:"/>

<div class="callout callout-danger">
    <div class="callout-content">
        <h2 class="callout-title"><f:translate key="{ll}confirm.deleteAll.title"/></h2>
        <p><f:translate key="{ll}confirm.deleteAll.body" arguments="{0: count}"/></p>
        <f:if condition="{isProduction}">
            <p class="fw-bold"><f:translate key="{ll}confirm.productionNote"/></p>
        </f:if>
    </div>
</div>

<div class="d-flex gap-2">
    <f:form action="deleteAll" method="post">
        <button type="submit" class="btn btn-danger">
            <f:translate key="{ll}confirm.deleteAll.submit"/>
        </button>
    </f:form>
    <f:link.action action="index" class="btn btn-default"><f:translate key="{ll}confirm.cancel"/></f:link.action>
</div>

</f:section>

</html>
